<section class="flex flex-col items-center py-20 font-[Helvetica]  w-full">
  <div class="flex flex-col items-center w-9/10 border-b-2 border-gray-300 pb-5">
    <h1 class="text-4xl font-bold mb-4">HAVE A QUESTION?</h1>
    <p class="text-lg text-stone-600 font-semibold">CONTACT US FOR ANY INQUIRIES OR SUPPORT THROUGH</p>
  </div>

  <div class="flex flex-row gap-5 justify-between mt-10 w-4/5">
    <div>
        <h1 class="font-bold text-2xl mb-5">Our Socials:</h1>
        <div class="flex items-center gap-3">
          <img
            src="https://img.icons8.com/?size=100&id=H0fcigYypla5&format=png&color=000000"
            alt="EMAIL"
            class="h-10 w-10"
          />
          <h1>myshopcorporation@gmail.com</h1>
        </div>
        <div class="flex items-center gap-3">
          <img
            src="https://img.icons8.com/?size=100&id=hbVaJ5lgpaax&format=png&color=000000"
            alt="FACEBOOK"
            class="h-10 w-10"
          />
          <h1>MyShop Corporation</h1>
        </div>
        <div class="flex items-center gap-3">
          <img
            src="https://img.icons8.com/?size=100&id=Iatym1CIDVkh&format=png&color=000000"
            alt="INSTAGRAM"
            class="h-10 w-10"
          />
          <h1>MyShop Corp.</h1>
        </div>
        <div class="flex items-center gap-3">
          <img
            src="https://img.icons8.com/?size=100&id=NTCUeTIie8CC&format=png&color=000000"
            alt="LINKEDIN"
            class="h-10 w-10"
          />
          <h1>MyShop Corporation</h1>
        </div>
    </div>

    <h1 class="font-bold self-center">-- OR --</h1>
    <div class="flex flex-col gap-5">
      <h1 class="font-bold text-2xl mb-5">Send us a message:</h1>
      <div
        class="py-2 px-5 bg-gray-100 rounded-md flex gap-3 w-130 cursor-pointer"
      >
        <textarea
          id="feedback"
          name="feedback"
          rows="4"
          placeholder="Tell us what you think..."
          class="text-start placeholder:font-bold text-sm w-full bg-transparent focus:outline-none"
          required
        ></textarea>
      </div>
        <div class="bg-black py-2 px-5 rounded-full flex gap-2 items-center cursor-pointer hover:scale-110 transition-transform">
            <img src="https://img.icons8.com/?size=100&id=Jky8S7KJsK5c&format=png&color=ffffff" alt="SEND" class="h-5 w-5">
            <a class="font-bold text-white text-sm">Send Inquiries</a>
        </div>
    </div>
  </div>
</section>
