<section class="flex flex-col items-center bg-white py-50 font-[Helvetica]">
        <div class="flex flex-col mb-12 items-center">
            <h1 class="text hover:border-orange-500 hover:border-3-4xl font-bold mb-4">WELCOME TO OUR E-COMMERCE SITE</h1>
            <p class="text-lg text-stone-600 font-semibold">SHOPPING CATEGORIES</p>
    </div>
    
    <div class="grid grid-cols-5 gap-5 ">
        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 hover:border-orange-500 hover:border-3 transition-transform border w-35 h-35 
        rounded-full border-stone-500">
            <img src="https://img.icons8.com/?size=100&id=sDho6ju0ndDR&format=png&color=000000" alt="CLOTHES" class="h-15 w-15">
            <p class="text-xl font-bold">Clothes</p>
        </div>

        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 hover:border-orange-500 hover:border-3 transition-transform border w-35 h-35 
        rounded-full border-stone-500">
            <img src="https://img.icons8.com/?size=100&id=V5776xyMwMGM&format=png&color=000000" alt="JERSEY" class="h-15 w-15">
            <p class="text-xl font-bold">Jersey</p>
        </div>

        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 hover:border-orange-500 hover:border-3 transition-transform border w-35 h-35 
        rounded-full border-stone-500">
            <img src="https://img.icons8.com/?size=100&id=uHOffhtTTStV&format=png&color=000000" alt="COAT" class="h-15 w-15">
            <p class="text-xl font-bold">Coat</p>
        </div>

        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 hover:border-orange-500 hover:border-3 transition-transform border w-35 h-35 
        rounded-full border-stone-500">
            <img src="https://img.icons8.com/?size=100&id=Ja6qHWki0Bep&format=png&color=000000" alt="JUMPER" class="h-15 w-15">
            <p class="text-xl font-bold">Jumper</p>
        </div>

        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 hover:border-orange-500 hover:border-3 transition-transform border w-35 h-35 
        rounded-full border-stone-500">
            <img src="https://img.icons8.com/?size=100&id=Ja6qHWki0Bep&format=png&color=000000" alt="T-SHIRT" class="h-15 w-15">
            <p class="text-xl font-bold">T-Shirt</p>
        </div>

        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 hover:border-orange-500 hover:border-3 transition-transform border w-35 h-35 
        rounded-full border-stone-500">
            <img src="https://img.icons8.com/?size=100&id=LVH0CeLZ2dBe&format=png&color=000000" alt="SHIRT" class="h-15 w-15">
            <p class="text-xl font-bold">Shirt</p>
        </div>

        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 hover:border-orange-500 hover:border-3 transition-transform border w-35 h-35 
        rounded-full border-stone-500">
            <img src="https://img.icons8.com/?size=100&id=xuoCWVSsM3GV&format=png&color=000000" alt="TROUSERS" class="h-15 w-15">
            <p class="text-xl font-bold">Trousers</p>
        </div>

        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 hover:border-orange-500 hover:border-3 transition-transform border w-35 h-35 
        rounded-full border-stone-500">
            <img src="https://img.icons8.com/?size=100&id=U5Pp4XpKz9ap&format=png&color=000000" alt="SHOES" class="h-15 w-15">
            <p class="text-xl font-bold">Shoes</p>
        </div>

        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 hover:border-orange-500 hover:border-3 transition-transform border w-35 h-35 
        rounded-full border-stone-500">
            <img src="https://img.icons8.com/?size=100&id=w5HVLHUPChEj&format=png&color=000000" alt="FLIP FLOPS" class="h-15 w-15">
            <p class="text-xl font-bold">Flip Flops</p>
        </div>

        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 hover:border-orange-500 hover:border-3 transition-transform border w-35 h-35 
        rounded-full border-stone-500">
            <img src="https://img.icons8.com/?size=100&id=PR2dLXas5f1b&format=png&color=000000" alt="SOCKS" class="h-15 w-15">
            <p class="text-xl font-bold">Socks</p>
        </div>
    </div>

</section>