<section class="flex flex-col items-center bg-white py-50 font-[Helvetica]">
        <div class="flex flex-col mb-12 items-center">
            <h1 class="text-4xl hover:border-orange-500 hover:border-3-4xl font-bold mb-4">WELCOME TO OUR E-COMMERCE SITE</h1>
            <p class="text-lg text-stone-600 font-semibold">SHOPPING CATEGORIES</p>
    </div>
    
    
    <div class="grid grid-cols-5 gap-5 ">
    {% for cat in categories%}
        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 hover:border-orange-500 hover:border-3 transition-transform border w-35 h-35 rounded-full border-stone-500">
            <img src="{{ cat.icon.url }}" alt="{{ cat.name }}" class="h-15 w-15">
            <p class="text-xl font-bold">{{ cat.name }}</p>
        </div>
        {% empty %}
        <div class="text-center col-span-5 font-bold text-xl my-10">NO CATEGORY FOUND.</div>
        {% endfor %}
            </div>

</section>