<footer
  class="flex flex-col items-center w-9/10 border-t-2 border-gray-300 mt-10 mb-5 pt-5 gap-5"
>
  <div class="flex justify-evenly gap-10 w-full mb-5">
    <div class="flex flex-col gap-5">
      <img src="../../media/static/logo.png" alt="" />
      <div>
        <h2 class="text-xl font-bold">MyShop</h2>
        <p class="text-xs text-gray-600">
          © 2024 MyShop Corp. All rights reserved.
        </p>
      </div>
    </div>
    <div>
      <h1 class="mb-4 font-bold">Quick Links</h1>
      <ul class="text-sm text-gray-600 space-y-2 mt-2">
        <li><a href="#" class="hover:underline">New & Featured</a></li>
        <li><a href="#" class="hover:underline">Men</a></li>
        <li><a href="#" class="hover:underline">Women</a></li>
        <li><a href="#" class="hover:underline">Kids</a></li>
        <li><a href="#" class="hover:underline">Sale</a></li>
      </ul>
    </div>

    <div>
      <h1 class="mb-4 font-bold">Customer Service</h1>
      <ul class="text-sm text-gray-600 space-y-2 mt-2">
        <li><a href="#" class="hover:underline">Get Help</a></li>
        <li><a href="#" class="hover:underline">Order Status</a></li>
        <li><a href="#" class="hover:underline">Delivery</a></li>
        <li><a href="#" class="hover:underline">Returns</a></li>
        <li><a href="#" class="hover:underline">Payment Status</a></li>
        <li><a href="#" class="hover:underline">Contact Us</a></li>
      </ul>
    </div>

    <div>
      <h1 class="mb-4 font-bold">Company</h1>
      <ul class="text-sm text-gray-600 space-y-2 mt-2">
        <li><a href="#" class="hover:underline">About MyShop</a></li>
        <li><a href="#" class="hover:underline">News</a></li>
        <li><a href="#" class="hover:underline">Careers</a></li>
        <li><a href="#" class="hover:underline">Investors</a></li>
        <li><a href="#" class="hover:underline">Partnerships</a></li>
        <li><a href="#" class="hover:underline">Report a Concern</a></li>
      </ul>
    </div>
  </div>

    <div class="flex space-x-6 self-start pl-20">
      <a class="text-gray-600 hover:text-gray-800 text-xs hover:underline">Privacy Policy</a>
      <a class="text-gray-600 hover:text-gray-800 text-xs hover:underline">Terms of Service</a>
      <a class="text-gray-600 hover:text-gray-800 text-xs hover:underline">Contact Us</a>
  </div>
</footer>
