{% load static %}
<section class="bg-[url('{% static 'images/hero_image.png' %}')] w-screen min-h-[560px] bg-cover bg-center bg-fixed bg-no-repeat flex flex-col justify-center items-center">
    <div class="absolute bottom-17 left-0 right-0 h-2/5 bg-gradient-to-t from-black/70 to-transparent pointer-events-none z-1 "></div>
    <div class=" mt-50 z-2 flex flex-col items-center">
        <h1 class="text-stone-100 text-7xl font-bold z-2 ">DISCOVER YOUR STYLE</h1>
        <h2 class="text-stone-100 text-xl z-2">Premium Essentials for Every You</h2>
        <div class="flex gap-5 mt-5">
                <button class="border-3 border-white py-2 px-5 rounded-sm font-bold text-white text-xl hover:scale-110 transition-transform">SHOP NOW</button>
                <button class="border-3 border-white py-2 px-5 rounded-sm font-bold text-white text-xl hover:scale-110 transition-transform">EXPLORE MORE</button>
        </div>
    </div>
</section>