 <nav class="flex fixed w-full justify-between items-center h-15 px-30 bg-white z-100 shadow-md">
        <!-- LOGO -->
        <img src="../../media/static/logo.png" alt="LOGO" class="h-10 w-25">

        <!-- NAV -->
        <div class="flex gap-10">
            <a class="hover:underline text-sm">New & Featured</a>
            <a class="hover:underline text-sm">Men</a>
            <a class="hover:underline text-sm">Women</a>
            <a class="hover:underline text-sm">Kids</a>
            <a class="hover:underline text-sm">Sale</a>
        </div>
        <div class="flex gap-5 items-center">
            <!-- SEARCH FIELD -->
             <div class="py-2 px-5 bg-gray-100 rounded-full flex items-center gap-3 w-50 cursor-pointer">
                <img src="https://img.icons8.com/?size=100&id=TQPOC8XaUqZ0&format=png&color=000000" alt="LOGIN" class="h-5 w-5">
                 <input type="text" placeholder="Search" class="  placeholder:font-bold text-sm w-full bg-transparent focus:outline-none">
             </div>
            
            <!-- LOGIN BUTTON -->
            <div class="bg-black py-2 px-5 rounded-full flex gap-2 items-center cursor-pointer hover:scale-110 transition-transform">
                <img src="https://img.icons8.com/?size=100&id=GEeJqVN0aRrU&format=png&color=ffffff" alt="LOGIN" class="h-5 w-5">
                <a class="font-bold text-white text-sm">Login</a>
            </div>
        </div>
    </nav>
    