<section class="flex flex-col items-center my-50">
    <div>
        <div class="flex flex-col items-left ">
            <h1 class="text-4xl font-bold ">FEATURED COLLECTIONS</h1>
            <h2 class="text-lg mb-3 text-stone-600 font-semibold">NEW RELEASED THIS WEEK</h2>
        </div>
    
        <div class="flex gap-5">
            <div class="h-105 w-200 bg-white p-10 flex flex-col justify-end bg-[url('../../media/sample.png')] bg-cover bg-no-repeat bg-center">
                <h1 class="text-4xl text-white">ITEM NAME</h1>
                <p class="text-md text-white">Short Description</p>
                <h1 class="text-red-600">PRICE</h1>
            </div>
            <div class="flex flex-col gap-5">
                <div class="h-50 w-100 bg-white p-5 flex flex-col justify-end bg-[url('../../media/sample.png')] bg-cover bg-no-repeat bg-center">
                    <h1 class="text-2xl text-white">ITEM NAME</h1>
                    <p class="text-sm  text-white">Short Description</p>
                    <h1 class="text-red-600 text-sm">PRICE</h1>
                </div>
                <div class="h-50 w-100 bg-white p-5 flex flex-col justify-end bg-[url('../../media/sample.png')] bg-cover bg-no-repeat bg-center">
                    <h1 class="text-2xl text-white">ITEM NAME</h1>
                    <p class="text-sm  text-white">Short Description</p>
                    <h1 class="text-red-600 text-sm">PRICE</h1>
                </div>
    
            </div>
        </div>
    </div>

</section>