<section class="bg-white py-50 flex flex-col gap-10 items-center ">
    <div class="">
        <div class="flex flex-col items-center">
            <h1 class="text-4xl font-bold mb-4">SHOP NOW</h1>
            <p class="text-lg text-stone-600 font-semibold">BROWSE PRODUCTS THAT ARE TAILORED TO YOUR LIKES</p>
        </div>
    </div>

    <div  class="flex flex-row gap-3">
         <div class="py-2 px-5 bg-gray-100 rounded-full flex items-center gap-3 w-130 cursor-pointer">
            <img src="https://img.icons8.com/?size=100&id=TQPOC8XaUqZ0&format=png&color=000000" alt="LOGIN" class="h-5 w-5">
            <input type="text" placeholder="Search an item" class="  placeholder:font-bold text-sm w-full bg-transparent focus:outline-none">
        </div>

        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 transition-transform border-3 w-10 h-10 rounded-full border-orange-500">
            <p class="font-bold">all</p>
        </div>

        {% for cat in categories%}
        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 transition-transform border w-10 h-10 rounded-full border-stone-500">
            <img src="{{ cat.icon.url }}" alt="{{ cat.name }}" class="h-8 w-8">
        </div>
        {% endfor %}
    </div>


    <div class="grid grid-cols-3 gap-10">
        
        {% for product in products %}
        <div class="h-130 w-100 bg-stone-200 px-5 py-3 flex flex-col gap-2 justify-end rounded-md bg-[url('{{ product.image.url }}')] bg-cover bg-no-repeat bg-center">
            <div>
                <h1 class="text-2xl text-white font-bold w-4/5">{{ product.item_name }}</h1>
                <p class="text-md text-white">{{ product.description }}</p>
            </div>
            <div class="flex justify-between items-center">
                 <h1 class="text-orange-500 text-xl font-bold">₱{{ product.price }}</h1>
                <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 transition-transform border-2 w-10 h-10 rounded-full border-white">
                    <img src="https://img.icons8.com/?size=100&id=T6lIeZJi54CY&format=png&color=ffffff" alt="FAVORITE" class="h-8 w-8">
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

     <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 hover:border-orange-500 hover:border-3 transition-transform border w-25 h-25 rounded-full border-stone-500">
            <img src="https://img.icons8.com/?size=100&id=NuNhPTZDW3yY&format=png&color=000000" alt="SEE MORE" class="h-10 w-10">
            <p class="text-md font-bold">See More</p>
        </div>


</section>