<section class="bg-white py-50 flex flex-col gap-10 items-center ">
    <div class="">
        <div class="flex flex-col items-center">
            <h1 class="text-4xl font-bold mb-4">SHOP NOW</h1>
            <p class="text-lg text-stone-600 font-semibold">Browse Products that are tailored to your likes.</p>
        </div>
    </div>

    <div  class="flex flex-row gap-3">
         <div class="py-2 px-5 bg-gray-100 rounded-full flex items-center gap-3 w-130 cursor-pointer">
            <img src="https://img.icons8.com/?size=100&id=TQPOC8XaUqZ0&format=png&color=000000" alt="LOGIN" class="h-5 w-5">
            <input type="text" placeholder="Search an item" class="  placeholder:font-bold text-sm w-full bg-transparent focus:outline-none">
        </div>

        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 transition-transform border-3 w-10 h-10 
        rounded-full border-orange-500">
            <img src="https://img.icons8.com/?size=100&id=sDho6ju0ndDR&format=png&color=000000" alt="CLOTHES" class="h-8 w-8">
        </div>

        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 transition-transform border w-10 h-10 
        rounded-full border-stone-500">
            <img src="https://img.icons8.com/?size=100&id=V5776xyMwMGM&format=png&color=000000" alt="JERSEY" class="h-8 w-8">
        </div>

        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 transition-transform border w-10 h-10 
        rounded-full border-stone-500">
            <img src="https://img.icons8.com/?size=100&id=uHOffhtTTStV&format=png&color=000000" alt="COAT" class="h-8 w-8">
        </div>

        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 transition-transform border w-10 h-10 
        rounded-full border-stone-500">
            <img src="https://img.icons8.com/?size=100&id=Ja6qHWki0Bep&format=png&color=000000" alt="JUMPER" class="h-8 w-8">
        </div>

        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 transition-transform border w-10 h-10 
        rounded-full border-stone-500">
            <img src="https://img.icons8.com/?size=100&id=Ja6qHWki0Bep&format=png&color=000000" alt="T-SHIRT" class="h-8 w-8">
        </div>

        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 transition-transform border w-10 h-10 
        rounded-full border-stone-500">
            <img src="https://img.icons8.com/?size=100&id=LVH0CeLZ2dBe&format=png&color=000000" alt="SHIRT" class="h-8 w-8">
        </div>

        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 transition-transform border w-10 h-10 
        rounded-full border-stone-500">
            <img src="https://img.icons8.com/?size=100&id=xuoCWVSsM3GV&format=png&color=000000" alt="TROUSERS" class="h-8 w-8">
        </div>

        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 transition-transform border w-10 h-10 
        rounded-full border-stone-500">
            <img src="https://img.icons8.com/?size=100&id=U5Pp4XpKz9ap&format=png&color=000000" alt="SHOES" class="h-8 w-8">
        </div>

        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 transition-transform border w-10 h-10 
        rounded-full border-stone-500">
            <img src="https://img.icons8.com/?size=100&id=w5HVLHUPChEj&format=png&color=000000" alt="FLIP FLOPS" class="h-8 w-8">
        </div>

        <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 transition-transform border w-10 h-10 
        rounded-full border-stone-500">
            <img src="https://img.icons8.com/?size=100&id=PR2dLXas5f1b&format=png&color=000000" alt="SOCKS" class="h-8 w-8">
        </div>
    </div>


    <div class="grid grid-cols-3 gap-10">
        <div class="h-130 w-100 bg-stone-200 px-3 py-3 flex flex-col gap-5 align-center rounded-xl">
            <!-- IMAGE TO -->
            <img src="../../media/sample.png" alt="" class="h-100 w-90 self-center rounded-md">
            <!-- <div class="h-100 w-90 bg-[url('../../media/sample.png')] bg-cover bg-no-repeat bg-center"></div> -->
            <!--  -->
            
            <div class="flex justify-between items-center">
                <div>
                    <h1 class="text-4xl">ITEM NAME</h1>
                    <p class="text-md">Short Description</p>
                    <h1 class="text-red-600">PRICE</h1>
                </div>
                <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 transition-transform border-2 w-10 h-10 rounded-full border-stone-500">
                    <img src="https://img.icons8.com/?size=100&id=T6lIeZJi54CY&format=png&color=000000" alt="SOCKS" class="h-8 w-8">
                </div>
            </div>
        </div>

        
        <div class="h-130 w-100 bg-stone-200 px-3 py-3 flex flex-col gap-5 align-center rounded-xl">
            <!-- IMAGE TO -->
            <img src="../../media/sample.png" alt="" class="h-100 w-90 self-center rounded-md">
            <!-- <div class="h-100 w-90 bg-[url('../../media/sample.png')] bg-cover bg-no-repeat bg-center"></div> -->
            <!--  -->
            
            <div class="flex justify-between items-center">
                <div>
                    <h1 class="text-4xl">ITEM NAME</h1>
                    <p class="text-md">Short Description</p>
                    <h1 class="text-red-600">PRICE</h1>
                </div>
                <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 transition-transform border-2 w-10 h-10 rounded-full border-stone-500">
                    <img src="https://img.icons8.com/?size=100&id=T6lIeZJi54CY&format=png&color=000000" alt="SOCKS" class="h-8 w-8">
                </div>
            </div>
        </div>

        <div class="h-130 w-100 bg-stone-200 px-3 py-3 flex flex-col gap-5 align-center rounded-xl">
            <!-- IMAGE TO -->
            <img src="../../media/sample.png" alt="" class="h-100 w-90 self-center rounded-md">
            <!-- <div class="h-100 w-90 bg-[url('../../media/sample.png')] bg-cover bg-no-repeat bg-center"></div> -->
            <!--  -->
            
            <div class="flex justify-between items-center">
                <div>
                    <h1 class="text-4xl">ITEM NAME</h1>
                    <p class="text-md">Short Description</p>
                    <h1 class="text-red-600">PRICE</h1>
                </div>
                <div class="flex flex-col justify-center items-center cursor-pointer hover:scale-110 transition-transform border-2 w-10 h-10 rounded-full border-stone-500">
                    <img src="https://img.icons8.com/?size=100&id=T6lIeZJi54CY&format=png&color=000000" alt="SOCKS" class="h-8 w-8">
                </div>
            </div>
        </div>

    </div>


</section>